.feinman__link {
  font-family: 'Inter', Arial, sans-serif;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.5s linear;
}

.feinman__link:hover {
  opacity: 0.5;
}

