.khan__buy-link {
  font-family: 'Inter', Arial, sans-serif;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
  -webkit-transition: opacity 0.5s linear;
       -o-transition: opacity 0.5s linear;
          transition: opacity 0.5s linear;

}

.khan__buy-link:hover {
  opacity: 0.6;
}
